@import url(./__image/place__image.css);
@import url(./__paragraphs/place__paragraphs.css);
@import url(./__paragraph/place__pargraph.css);
@import url(./__title/place__title.css);
@import url(./__website/place__website.css);
@import URL(./__paragraph-bottom/place____paragraph-bottom.css);
@import URL(./__paragraph-top/place__paragraph-top.css);
.place {
    display: grid;
    grid-template-columns: repeat(2, minmax(min-content, max-content));
    grid-template-rows: repeat(2, minmax(min-content, max-content));
    margin-top: 80px;
    padding: 0;
    align-items: flex-start;
    justify-self: flex-end;
    gap: 48px 40px;
}

@media screen and (max-width: 1024px) {
    .place {
      gap: 48px 32px;
    } 
  }
  
  @media screen and (min-width:321px) and (max-width:768px) {
    .place {
      gap: 48px 28px;
    }
  }
  
  @media screen and (min-width: 321px) and (max-width:768px) {
    .place {
      grid-template-columns: repeat(2, minmax(min-content, max-content));
      grid-template-rows: repeat(2, minmax(min-content, max-content));
      margin-top: 60px;

    }
  }
  
  @media screen and (max-width: 610px) {
    .place {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, minmax(min-content, max-content));
      gap: 32px 0;
      justify-items: center;
      margin-top: 60px;
    }
  }

