@import url(../lead/__caption/lead__caption.css);
@import url(../lead/__image/lead__image.css);
@import url(../lead/__subtitle/lead__subtitle.css);
@import url(../lead/__title/lead__title.css);
.lead {
    margin: 0 auto;
    width: calc(100% - 296px);
}
@media screen and (min-width:900px) and (max-width: 1100px) {
    .lead {
        width: calc(100% - 96px);
    }
}
@media screen and  (max-width: 899px) {
    .lead {
        width: 100%;
    }
}